
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://www.tradebit.com/usr/stock-photos/pub/9002/1544024.jpg');">
  <div class="banner-content">
    <h1 class="text-center">Cocktail Goggles Inc.</h1>
    <p class= "text-center">I can see clearly -- clearly</p>

  </div>
  <div class="text-center padded">
    <%= link_to "Create a cocktail", new_cocktail_path, class: "btn btn-primary" %>
  </div>

  <br>

  <div class="container">
    <div class="row">
      <% @featured_cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="cocktail-card">
        <% if cocktail.photo %>
          <div class="card-header" style='background-image: url("<%= cocktail.photo.url %>")'></div>
          <%= link_to cocktail.name, cocktail_path(cocktail) %>
        <% end %>
        </div>
      </div>

      <% end %>
    </div>
    <div class="row">
      <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="list text-center">

          <% if cocktail.photo %>
          <div class="list-header" style="background-image: url()">
          </div>
          <% else %>
          <div class="list-header" style="background-image: url('')">
          </div>
          <% end %>
          <div class="list">
            <%= link_to cocktail.name, cocktail_path(cocktail) %>
          </div>
        </div>
      </div>
      <% end %>
    </div>

  </div>
</div>
