.card-header {

  height: 250px;
  background-image: url(http://res.cloudinary.com/dd9ev5m2f/image/upload/v1510935263/kzc6zdy4aadnskeo8p3f.jpg);
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 10px;
  color: white;
}
